<!-- Contact Form start -->

<!-- ======= grey bar ======= -->
<section id="botbar" class="botbar"><div class="container"></div></section>
  
  <!-- ======= Contact ======= -->
  
  <section id="contact" class="contact">
    <div class="container">
  
      <div class="row">
        <div class="col-lg-6">
          <div class="info-box mb-4">
            <i class="bx bx-map"></i>
            <h3>Adresse</h3>
            <p>41 rue jean henri fabre, 84150 Jonquières</p>
          </div>
        </div>
       
                        
        <div class="col-lg-3 col-md-6">
          <div class="info-box  mb-4">
            <i class="bx bx-envelope"></i>
            <h3>Email</h3>
            <p><a href="mailto:caldato.alexandre@gmail.com">caldato.alexandre@gmail.com</a></p>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6">
          <div class="info-box  mb-4">
            <i class="bx bx-phone-call"></i>
            <h3>Téléphone</h3>
            <p>+33 6 42 72 28 80 </p><div></div>
          </div>
        </div>
  
      </div>
     
    </div>
  </section><!-- End Contact Section -->
  
  
  <!-- Contact form end-->
