<div class="col-lg-6 pt-4 pt-lg-0 content mt-1">
    <h3 style="text-align: center">COORDONNÉES</h3>

    <ul class="p-3" style="list-style: none; text-align: left;">
      <li>41 rue Jean Henri Fabre</li>
      <li>84150 Jonquières</li>
      <li>Téléphone: 06 42 72 28 80</li>
      <li>E-mail : caldato.alexandre@gmail.com</li>
      <a href="contact.html"><li>Contact</li></a>
      
      <a href="/assets/img/cv.pdf" target="_blank"><li>CV en PDF</li></a>

      <a href="https://github.com/StormLx" target="_blank"><i> Profil Github</i></a>

    </ul>

  </div>