<h3 style="text-align: center" class="pb-3">EXPÉRIENCE PROFESSIONNELLE</h3>

<ul class="p-3" style="list-style: none; text-align: left;">
  <h4>Armée de l'air</h4>
  <li>Sous-officier Intercepteur-traducteur de langue arabe et anglaise, 2009-2017</li>
  <li>Chef de la cellule traducteur durant l'opération extérieur au Mali</li>
  <li>Gestion de la formation de plusieurs brigades d'une trentaine de personnes.</li>
  <li>Animation de briefings militaires auprés d'officiers supérieurs.</li>
  <h4 class="mt-1">Autres Expériences</h4>
  <li>Chauffeur de taxi - Ambulances BARREDA, Courthézon 2017-2019</li>

  <li>Commis de cuisine, serveur, barman - Nicolas, Londres 2008</li>
</ul>
