<!-- ======= grey bar ======= -->
<section id="botbar" class="botbar"><div class="container"></div></section>
    <!-- Home sections start -->
    
    <section class="about">  <!-- Section 1 -->
      <div class="container mt-5">
    
        <div class="row">
          <div class="col-lg-6">
            <img src="assets/img/screens-r.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content">
            <h3>CALDATO Alexandre</h3>
            <p class="font-italic">
              Ancien militaire en reconversion, <br> je suis maintenant stagiaire en programmation JAVA EE.
            </p>
            <ul>
              <li><i class="bi bi-arrow-bar-right"></i> Motivé</li>
              <li><i class="bi bi-arrow-bar-right"></i> Curieux</li>
              <li><i class="bi bi-arrow-bar-right"></i> Grande capacité d'adaptation</li>
            </ul>
            <p>
              Autodidacte et désireux de développer constamment mes compétences afin d'assurer mon évolution professionnelle, je suis confiant en ma capacité à résoudre des problèmes complexes et proposer des solutions.
            </p>
          </div>
        </div>
    
      </div>
    </section>
    
    <!-- SECTION 2 -->
    <div class="container" style="text-align: center;">
      <div class="row ">
      <div class="col-md-4 col-lg-4">
          <a href="#">
              <img class="img-fluid mb-2" src="assets/img/canvas3.png" alt="image du projet">
          </a>
          <h3>
              <a href="/assets/CANVAS/index.html" target="_blank">Projet 1</a>
          </h3>
          <p>Projet canvas dans le cadre de la formation JAVA-EE</p>
      </div>
      <div class="col-md-4">
          <a href="#">
              <img class="img-fluid mb-2" src="assets/img/keyboard.jpg" alt="">
          </a>
          <h3>
              <a href="#">Projet 2</a>
          </h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex dolorum eligendi quibusdam ad a mollitia dolor, temporibus similique dolore enim ?</p>
      </div>
      <div class="col-md-4">
          <a href="#">
              <img class="img-fluid mb-2" src="assets/img/keyboard.jpg" alt="">
          </a>
          <h3>
              <a href="#">Projet 3</a>
          </h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis consequuntur nostrum, modi debitis aperiam ad doloribus quasi ipsam, laborum</p>
      </div>
    </div>
    </div>
