    <h3 style="text-align: center">FORMATION PROFESSIONNELLE</h3>

    <ul class="p-3" style="list-style: none; text-align: left;">
      <h4>Cursus scolaire</h4>
      <li>Obtention du baccalauréat Scientifique option SVT</li>
      <li>1ère année de license de M.I.A.S. (Mathématiques et Informatique Appliqués à la Science, 2005-2006</li>
      <li>1ère année de L.E.A. (Langues Étrangères Appliquées) Anglais-Japonais, 2006-2007</li>
      
      <h4 class="mt-4">Autres formations</h4>
      <li>Obtention du CCPCT (Certification TAXI), 2017</li>
      <li>Obtention du PSC-1 (Premiers secours), 2017</li>
      <li>Formation développeur JAVA EE, 2021</li>
    </ul>